.combo-wrapper {
    height: 100%;
    width: 100%;
}

.combo-wrapper h3 {
    position: absolute;
    text-align: center;
    font-family: "Futura-Medium-Italic";
    font-size: 80px;
    margin: 0;
    top: 37%;
    right: 40px;
    letter-spacing: 4px;
}