.combo-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@keyframes move-combo-animation {
    from {
        opacity: 1;
        right: calc(-14vh * 6)
    }
    to {
        opacity: 1;
        right: calc(-14vh * 2.15)
    }
}

.perfect-content-showing {
    position: absolute;
    top: 52vh;
    right: 3vw;
}

.perfect-content-hidden {
    position: absolute;
    top: 52vh;
    right: 3vw;
    transition: opacity 0.3s;
}

