.score-wrapper {
    height: 100%;
    width: 100%;
}

.score-wrapper h3 {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "Futura-Light-Italic";
    font-size: 40px;
    margin: 0;
    top: 20px;
    right: 20px;
    letter-spacing: 3px;
}
