.score-wrapper {
    height: 100%;
    width: 100%;
}

.score-wrapper h3 {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "Futura-Light-Italic";
    font-size: 5vh;
    margin: 0;
    top: 2.5vh;
    left: 2.2vh;
    letter-spacing: 3px;
}
