.scroll-list-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    /* border: 2px red solid; */
}

.scroll-list-ul {
    height: 200vh;
    width: 42vw;
    position: absolute;
    top: -50vh;
    margin: 0;
    padding: 0;
    /* padding-top: calc(150vh / 9 * 0.); */
    transform: rotate(15deg);
    display: grid;
    place-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: transparent transparent;
    scrollbar-base-color: transparent transparent;
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track-piece  {
    background-color: transparent;
}
::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: transparent;
    border-radius: 10px; 
}

.scroll-list-block {
    height: calc(150vh / 9 * 0.8);
    width: 42vw;
    margin-bottom: calc(150vh / 9 * 0.22);
    transform: rotate(-15deg);
    transform-origin: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    /* border: 1px solid cyan; */
}

.scroll-list-block-background-1 {
    height: 100%;
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    box-sizing: border-box;
    /* border: 1px solid purple; */
    background-image: url(../images/video-row-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.scroll-list-block-background-2 {
    height: 100%;
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
    background-image: url(../images/video-row-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.scroll-list-block-background-3 {
    height: 100%;
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
    background-image: url(../images/video-row-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.scoll-list-text-wrapper {
    height: 100%;
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
}

.scroll-list-button-title-text {
    position: absolute;
    top: 15%;
    left: 8vh;
    height: 55%;
    width: 82%;
    /* border: 1px solid blue; */
    font-family: "Futura-Light";
    white-space: nowrap;
    overflow: hidden;
    font-size: 4vh;
}

.scroll-list-button-artist-text {
    position: absolute;
    top: 60%;
    left: 8vh;
    height: 35%;
    width: 70%;
    /* border: 1px solid blue; */
    font-family: "Futura-Light";
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.5vh;
}

.scroll-list-button-duration-text {
    position: absolute;
    top: 60%;
    left: 8vh;
    height: 35%;
    width: 78%;
    /* border: 1px solid blue; */
    font-family: "Futura-Light";
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.5vh;
    text-align: right;
}