.settings-list-wrapper {
    height: 100%;
    width: 100%;
}

.settings-list-title {
    height: 15%;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 5.8vh;
}

.settings-list-title h3 {
    font-family: "Futura-Light";
    text-align: center;
    font-size: 3vw;
}

.settings-list-content {
    height: 77.1%;
    width: 100%;
    margin-top: 2vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 1px solid red; */
    /* background-image: url(../images/test-bg.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.settings-list-row {
    height: 15%;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
}

.settings-list-row h3 {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 2.2vw;
    margin-left: 2.5%;
}

.settings-list-row-content {
    height: 100%;
    width: 45%;
    box-sizing: border-box;
    /* border: 1px solid cyan; */
    margin: 0;
    background-color: transparent;
    display: grid;
    place-items: center;
}

#theme-button {
    height: 2.8vw;
    aspect-ratio: 500 / 120;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
}

.word-button {
    height: 100%;
    width: 100%;
    font-family: "Futura-Light";
    font-size: 2.2vw;
    background-color: transparent;
    border: 0;
    color: white;
}

.settings-list-row-content-stacked {
    height: 100%;
    width: 45%;
    box-sizing: border-box;
    /* border: 1px solid cyan; */
    margin: 0;
    background-color: transparent;
    place-items: center;
    display: grid;
}

.settings-list-start-time {
    height: 50%;
    width: 50%;
    font-size: 2.2vw;
    font-family: "Futura-Light";
    /* border: 1px solid red; */
    border: 0;
    text-align: center;
    padding-top: 2%;
    color: white;
    background-color: transparent;
}

.settings-list-start-time-s {
    width: 10%;
    font-size: 2.2vw;
    font-family: "Futura-Light";
    border: 1px solid blue;
    text-align: left;
    padding-top: 1%;
    color: white;
    margin: 0;
    background-color: transparent;
}

.stepper-button-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center;
}

.stepper-button-wrapper div {
    height: 100%;
    color: white;
    font-size: 2.2vw;
    margin: 0;
    display: grid;
    place-items: center;
    padding-top: 0.3vw;
    /* border: red 1px solid; */
}

.stepper-button-incrementer-decrease {
    height: 100%;
    aspect-ratio: 1;
    margin-right: -0.6vw;
    background-color: transparent;
    color: white;
    font-size: 2.5vw;
    padding: 0;
    border: 0;
    /* border: red 1px solid; */
}
.stepper-button-incrementer-increase {
    height: 100%;
    aspect-ratio: 1;
    margin-left: -0.6vw;
    background-color: transparent;
    color: white;
    font-size: 2.5vw;
    padding: 0;
    border: 0;
    /* border: red 1px solid; */
}
  
/* The slider itself */
.hue-slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 60%; 
    aspect-ratio: 25;
    background: transparent; 
    background-image: url("../images/slider-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    outline: none; 
}

.hue-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 10%;
    aspect-ratio: 1;
    background: white; 
    border-radius: 100%;
    cursor: move;
}

.hue-slider::-moz-range-thumb {
    width: 10%;
    aspect-ratio: 1;
    background: white; 
    border-radius: 100%;
    cursor: move;
}

.settings-list-image-selector {
    width: 100%;
    padding-left: 25%;
    display: grid;
    place-content: center;
    font-family: "Futura";
}