.tile-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

.tile {
    position: absolute;
    margin: 0;
    opacity: 0;
    z-index: 20;
}

.tile img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bar-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

.bar-clip {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.bar {
    height: 60vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    margin: 0;
    opacity: 0;
    /* background-color: red; */
    background-image: linear-gradient(0deg, black 0%, black 12.5%, #6142b8 25%, white 37.5%, white 90%, transparent 100%);
}

.bar img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}


@keyframes increase-opacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

@keyframes increase-opacity-bar {
    from {
        opacity: 0
    }
    to {
        opacity: 0.6;
    }
}

@keyframes increase-size-tile {
    from {
        width: 1.5vw;
    }
    to {
        width: 16vw;
    }
}

@keyframes move-y {
    from {
        bottom: calc(60vh - (1.5vw * 12/50));
    }
    to {
        bottom: calc(-1vh - (16vw * 12/50));
    }
}

@keyframes move-y-bar {
    from {
        bottom: 60vh;
    }
    to {
        bottom: -2vh;
    }
}


@keyframes move-x-left {
    from {
        left: 46.5vw;
    }
    to {
        left: 14.8vw;
    }
}

@keyframes move-x-middle-left {
    from {
        left: 48.4vw;
    }
    to {
        left: 33vw;
    }
}

@keyframes move-x-middle-right {
    from {
        right: 48.1vw;
    }
    to {
        right: 32.9vw;
    }
}

@keyframes move-x-right {
    from {
        right: 46.3vw;
    }
    to {
        right: 14.8vw;
    }
}

@keyframes opacity-06-0 {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 0;
    }
}