.tile-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

.tile {
    position: absolute;
    margin: 0;
    opacity: 0;
    z-index: 20;
}

.tile img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bar-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

.bar-clip {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.bar {
    height: 60vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    margin: 0;
    opacity: 0;
    /* background-color: red; */
    background-image: linear-gradient(0deg, black 0%, black 10%, #6142b8 25%, white 40%, white 90%, transparent 100%);
}

.bar img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.bar-outline-clip-1 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 15;
}

.bar-outline-clip-2 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 16;
}

.bar-outline {
    height: 0vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    margin: 0;
    opacity: 0;
    background-image: linear-gradient(0deg, white 0%, white 80%, transparent 100%);
}


@keyframes increase-opacity {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes decrease-opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes increase-opacity-bar {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.7;
    }
}

@keyframes increase-size-tile {
    from {
        width: 1.5vw;
    }
    to {
        width: 16vw;
    }
}

@keyframes move-y {
    from {
        bottom: calc(60vh - (1.5vw * 12/50));
    }
    to {
        bottom: calc(-1vh - (16vw * 12/50));
    }
}

@keyframes move-y-bar {
    from {
        bottom: 60vh;
    }
    to {
        bottom: -2vh;
    }
}


@keyframes move-x-left {
    from {
        left: 46.5vw;
    }
    to {
        left: 14.8vw;
    }
}

@keyframes move-x-middle-left {
    from {
        left: 48.4vw;
    }
    to {
        left: 33vw;
    }
}

@keyframes move-x-middle-right {
    from {
        right: 48.1vw;
    }
    to {
        right: 32.9vw;
    }
}

@keyframes move-x-right {
    from {
        right: 46.3vw;
    }
    to {
        right: 14.8vw;
    }
}

@keyframes opacity-06-0 {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 0;
    }
}

.circle-tile-wrapper {
    height: 25vh;
    aspect-ratio: 1;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 16.5vh;
}

.circle-tile-out {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 100;
}

.circle-tile-in {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.circle-tile-in-wrapper {
    height: 0%;
    aspect-ratio: 1;
    /* border: 1px solid blue; */
    position: absolute;
}

.circle-tile-in img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    /* border: 1px solid greenyellow; */
}

@keyframes increase-size-circle {
    from {
        height: 0%;
        left: 50%;
        top: 50%;
    }
    to {
        height: 100%;
        left: 0%;
        top: 0%;
    }
}

@keyframes rotate-circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

