.tile-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.tile {
    position: absolute;
    margin: 0;
    opacity: 0;
    z-index: 20;
}

.tile img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bar {
    position: absolute;
    margin: 0;
    opacity: 0;
    z-index: 10;
}

.bar img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


@keyframes increase-opacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

@keyframes increase-size-tile {
    from {
        width: 1.5vw;
    }
    to {
        width: 16vw;
    }
}

@keyframes move-y {
    from {
        bottom: calc(60vh - (1.5vw * 12/50));
    }
    to {
        bottom: calc(-1vh - (16vw * 12/50));
    }
}

@keyframes move-x-left {
    from {
        left: 46.3vw;
    }
    to {
        left: 15.1vw;
    }
}

@keyframes move-x-middle-left {
    from {
        left: 48.3vw;
    }
    to {
        left: 32.9vw;
    }
}

@keyframes move-x-middle-right {
    from {
        right: 48.3vw;
    }
    to {
        right: 32.9vw;
    }
}

@keyframes move-x-right {
    from {
        right: 46.3vw;
    }
    to {
        right: 15.1vw;
    }
}