.video-info-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    /* border: 2px solid red; */
    display: grid;
    place-items: center right;
}

.video-thumbnail-wrapper {
    aspect-ratio: 1650 / 950;
    width: 85%;
    object-fit: cover;
    position: absolute;
    background-color: transparent;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.video-thumbnail-frame {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: transparent;
    /* border: 2px solid blue; */
}

.video-thumbnail-img {
    grid-row-start: 1;
    grid-column-start: 1;
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    background-color: transparent;
}

.video-thumbnail-video-wrapper {
    grid-row-start: 1;
    grid-column-start: 1;
    aspect-ratio: 16/9;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

.video-thumbnail-video {
    aspect-ratio: 8/9;
    width: 100%;
    margin-top: calc(-52vw * 0.85 * 9 / 16 / 2);
    background-color: transparent;
}

.video-info-description {
    height: calc(50% - 30px);
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    /* border: 2px solid green; */
}

.video-high-score {
    aspect-ratio: 1585 / 386;
    width: 30vw;
    margin-top: 27vw;
    margin-right: 20vw;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
    background-color: transparent;
}

.video-high-score img {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: transparent;
}

.video-high-score h4 {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
    width: 90%;
    text-align: right;
    font-size: 2.5vh;
    padding-top: 3vh;
}

.video-high-score h3 {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
    width: 90%;
    text-align: right;
    font-size: 5vh;
    padding-top: 5vh;
}

.video-tier {
    position: absolute;
    z-index: 200;
    height: 11vw;
    width: 11vw;
    margin-top: 16.5vw;
    margin-right: 35vw;
}

.video-tier img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: transparent;
}