@font-face {
    font-family: 'Futura-Light';
    src: url("./styles/Futura-Light/Futura-Light.eot");
    src: url("./styles/Futura-Light/Futura-Light.eot?#iefix") format("embedded-opentype"),
        url("./styles/Futura-Light/Futura-Light.woff2") format("woff2"),
        url("./styles/Futura-Light/Futura-Light.woff") format("woff"),
        url("./styles/Futura-Light/Futura-Light.ttf") format("truetype"),
        url("./styles/Futura-Light/Futura-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-Light-Italic';
    src: url("./styles/Futura-Light-Italic/Futura-Light-Italic.eot");
    src: url("./styles/Futura-Light-Italic/Futura-Light-Italic.eot?#iefix") format("embedded-opentype"),
        url("./styles/Futura-Light-Italic/Futura-Light-Italic.woff2") format("woff2"),
        url("./styles/Futura-Light-Italic/Futura-Light-Italic.woff") format("woff"),
        url("./styles/Futura-Light-Italic/Futura-Light-Italic.ttf") format("truetype"),
        url("./styles/Futura-Light-Italic/Futura-Light-Italic.svg") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-Medium-Italic';
    src: url("./styles/Futura-Medium-Italic/Futura-Medium-Italic.eot");
    src: url("./styles/Futura-Medium-Italic/Futura-Medium-Italic.eot?#iefix") format("embedded-opentype"),
        url("./styles/Futura-Medium-Italic/Futura-Medium-Italic.woff2") format("woff2"),
        url("./styles/Futura-Medium-Italic/Futura-Medium-Italic.woff") format("woff"),
        url("./styles/Futura-Medium-Italic/Futura-Medium-Italic.ttf") format("truetype"),
        url("./styles/Futura-Medium-Italic/Futura-Medium-Italic.svg") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

img {
    pointer-events: none;
}

body {
    background-color: black;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Futura-Light";
    letter-spacing: 1.5px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.screen-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.transition-out-view-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 1000001;
    left: 0;
    top: 0;
}

.transition-in-view-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 1000000;
    left: 0;
    top: 0;
}

.transition-left {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    object-fit: fill;
    opacity: 0;
}

.transition-right {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 101;
    object-fit: fill;
}

@keyframes transition-out-left {
    from {
        left: calc(-1100 / 1280 * 100vw);
        opacity: 1;
    }
    to {
        left: 0vw;
        opacity: 1;
    }
}

@keyframes transition-out-right {
    from {
        right: calc(-500 / 1280 * 100vw);
        opacity: 1;
    }
    to {
        right: 0vw;
        opacity: 1;
    }
}

@keyframes transition-in-left {
    from {
        left: 0vw;
        opacity: 1;
    }
    to {
        left: calc(-1100 / 1280 * 100vw);
        opacity: 1;
    }
}

@keyframes transition-in-right {
    from {
        right: 0vw;
        opacity: 1;
    }
    to {
        right: calc(-500 / 1280 * 100vw);
        opacity: 1;
    }
}

#app {
    height: 100vh;
    width: 100vw;
}