.game-view-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: none;
}

.component {
    height: 100%;
    width: 100%;
    position: absolute;
}

#test {
    z-index: 2000;
}

#ending-black-screen {
    z-index: 1000;
    background-color: black;
    opacity: 0;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

#pause-menu {
    z-index: 1010;
}

#start-message {
    z-index: 100;
}

#score {
    z-index: 80;
}

#combo {
    z-index: 80;
}

#perfect-display {
    z-index: 79;
}

#tile-generator {
    z-index: 50;
}

#platform {
    z-index: 10;
}

#video {
    z-index: 0;
}
