.results-view-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.results-view-background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    z-index: 10;
}

.results-img-right-clip {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 16;
    overflow: hidden;
}

.results-img-right-clip-content {
    height: 100vh;
    aspect-ratio: 1280 / 540;
    position: absolute;
    object-fit: cover;
    right: -42vw;
}

.results-img-left-clip {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 15;
    overflow: hidden;
}

.results-img-left-clip-content {
    height: 100vh;
    aspect-ratio: 1280 / 540;
    position: absolute;
    object-fit: cover;
    left: -42vw;
    opacity: 0.45;
}

.results-view-top {
    position: absolute;
    z-index: 5;
    top: calc(1 / 16 * 100vh);
    left: calc(1 / 16 * 100vh);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid red; */
}

.results-view-top img {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    object-position: left;
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 0;
}

.results-view-top h3 {
    grid-row-start: 1;
    grid-column-start: 1;
    color: white;
    z-index: 100;
    font-size: 5.2vh;
    padding-left: 12vh;
    margin-top: 4.5vh;
    /* background-color: red; */
    /* border: 1px solid red; */
}

.results-view-top h4 {
    grid-row-start: 1;
    grid-column-start: 1;
    color: white;
    z-index: 100;
    font-size: 3.4vh;
    padding-left: 12vh;
    padding-top: calc(5vh + 3.3vh);
    /* background-color: red; */
    /* border: 1px solid red; */
}

.results-next-button {
    position: absolute;
    z-index: 1000;
    height: 10vh;
    aspect-ratio: 1300 / 359;
    bottom: 3vh;
    right: 3vh;
    background-image: url("./images/forward-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    color: white;
    text-align: center;
    text-indent: -1vw;
    font-size: 4vh;
    font-family: "Futura-Light";
    border: 0;
}

.results-back-button {
    position: absolute;
    z-index: 1001;
    height: 10vh;
    aspect-ratio: 1300 / 359;
    bottom: 3vh;
    left: 3vh;
    background-image: url("./images/backward-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    color: white;
    text-align: center;
    text-indent: 1vw;
    font-size: 4vh;
    font-family: "Futura-Light";
    border: 0;
}

.results-main-content {
    height: 65vh;
    width: 75vw;
    position: absolute;
    z-index: 100;
    bottom: 3vh;
    left: 11vh;
    display: flex;
}

.results-tier-wrapper {
    height: 100%;
    width: 28%;
    /* border: 1px blue solid; */
    overflow: hidden;
}

.results-tier-wrapper h4 {
    font-size: 3.4vh;
    margin: 1vh;
}

.results-tier-wrapper img {
    height: 77.5%;
    object-fit: contain;
    padding-left: 1vh;
    position: absolute;
    opacity: 0;
    /* border: 1px solid red; */
}

@keyframes tier-zoom-out {
    from {
        opacity: 0;
        margin-left: -20vw;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

.results-metrics-wrapper {
    height: 100%;
    width: 62%;
    /* border: 1px red solid; */
    padding-left: 5vh;
    overflow: hidden;
}

.results-metrics-wrapper h4 {
    font-size: 3.4vh;
    margin: 1vh;
}

.results-metrics-wrapper h2 {
    font-size: 4.2vw;
    margin-left: 1vh;
    margin-top: 2vh;
    margin-bottom: 1.7vh;
}

.results-sign-wrapper {
    width: calc(75vw * 0.62);
    height: 10%;
    /* border: 1px solid red; */
    display: flex;
    overflow: hidden;
    padding-left: 1.5vh;
}

.results-sign-wrapper img {
    height: 100%;
    object-fit: contain;
}

.results-circle-wrapper {
    height: 60%;
    width: calc(75vw * 0.62);
    /* border: 1px solid green; */
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 3.5vw;
    overflow: hidden;
    padding-left: 1.5vh;
}

.circluar-progress-bar-wrapper {
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
    grid-template-columns: 1fr;
}

.circluar-progress-bar-wrapper div {
    grid-row-start: 1;
    grid-column-start: 1;
}
.circluar-progress-bar-background-white {
    background-color: white;
    height: 100%;
    aspect-ratio: 1;
    z-index: 10;
    border-radius: 10000px;
}

.circluar-progress-bar-background-black {
    background-color: black;
    height: 97.5%;
    aspect-ratio: 1;
    z-index: 11;
    border-radius: 10000px;
}

.circluar-progress-bar-foreground-white {
    background-color: white;
    height: 75%;
    aspect-ratio: 1;
    z-index: 150;
    border-radius: 10000px;
}

.circluar-progress-bar-foreground-black {
    background-color: black;
    height: 72.5%;
    aspect-ratio: 1;
    z-index: 151;
    border-radius: 10000px;
}

.circluar-progress-bar-line {
    background-color: white;
    height: 67.5%;
    width: 1%;
    z-index: 500;
    transform: rotate(45deg);
}

.circluar-progress-bar-numerator {
    grid-row-start: 1;
    grid-column-start: 1;
    color: white;
    padding-right: 25%;
    padding-bottom: 25%;
    margin: 0;
    z-index: 1000;
}

.circluar-progress-bar-denominator {
    grid-row-start: 1;
    grid-column-start: 1;
    color: white;
    padding-left: 25%;
    padding-top: 25%;
    margin: 0;
    z-index: 1001;
}