.video-selector-view-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    clip-path: polygon(0 0, 0 100vh, 100vw 100vh, 100vw 0);
    position: absolute;
    z-index: 1;
}

.search-bar {
    aspect-ratio: 1625 / 145;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    top: 9vh;
    left: 4.9vw; /* centered at 29.9 */
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
}

.search-input {
    height: 100%;
    width: 90%;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 3vw;
    text-indent: 10px;
    user-select: none;
    grid-row-start: 1;
    grid-column-start: 1;
    color: white;
    background-color: transparent;
    font-family: "Futura-Light";
    letter-spacing: 0.15vh;
}

.search-bar-background {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-top: 1.5vh;
    grid-row-start: 1;
    grid-column-start: 1;
}

input:focus {
    outline: none !important;
    border: 0;
}

.search-YT {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 3vw;
    text-indent: 10px;
    user-select: none;
    grid-row-start: 1;
    grid-column-start: 1;
    color: white;
    background-color: transparent;
    font-family: "Futura-Light";
    letter-spacing: 0.15vh;
    padding-top: 1.7vh;
}

.search-YT-logo {
    height: 3vw;
    object-fit: contain;
    grid-row-start: 1;
    grid-column-start: 1;
    margin-left: 10.5vw;
    margin-top: 1.5vh;
}

.scroll-list {
    height: 100vh;
    width: 63vw;
    position: absolute;
    right: -9vw;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    overflow: hidden;
}

.video-selected {
    height: 16vh;
    width: 50vw;
    right: 2.4vw;
    top: 50vh;
    position: absolute;
    z-index: 20;
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid red; */
}


.video-selected-title-text {
    position: absolute;
    top: 15%;
    left: 10vh;
    height: 55%;
    width: 82%;
    /* border: 1px solid blue; */
    font-family: "Futura-Medium";
    white-space: nowrap;
    overflow: hidden;
    font-size: 5.2vh;
}

.video-selected-artist-text {
    position: absolute;
    top: 60%;
    left: 10vh;
    height: 35%;
    width: 85%;
    /* border: 1px solid blue; */
    font-family: "Futura-Medium";
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.6vh;
}

.video-selected-duration-text {
    position: absolute;
    top: 60%;
    left: 10vh;
    height: 35%;
    width: 78%;
    /* border: 1px solid blue; */
    font-family: "Futura-Medium";
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.6vh;
    text-align: right;
}

.video-info {
    height: 100vh;
    width: 52vw;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    bottom: 2vh;
    left: 0vw;
    /* border: 2px solid red; */
}

.video-selector-background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.video-selector-background img {
    height: 100vh;
    width: 100vw;
    object-fit: fill;
}

.video-buttons {
    height: 10vh;
    width: 50vw;
    position: absolute;
    top: 85vh;
    left: 6vw;
    display: block;
    z-index: 50;
}

.back-button {
    width: 21vw;
    aspect-ratio: 1300 / 359;
    background-image: url("./images/backward-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    color: white;
    text-align: center;
    text-indent: 1vw;
    font-size: 4vh;
    font-family: "Futura-Light";
    border: 0;
}

.next-button {
    width: 21vw;
    aspect-ratio: 1300 / 359;
    background-image: url("./images/forward-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    color: white;
    text-align: center;
    text-indent: -1vw;
    font-size: 4vh;
    font-family: "Futura-Light";
    border: 0;
}

.background-video-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -10;
    overflow: hidden;
}

.background-video {
    height: 150vh;
    width: 100vw;
    position: absolute;
    top: -25vh;
}

.settings {
    height: 100vh;
    width: 40vw;
    position: absolute;
    z-index: 9;
    right: calc(-40vw - 2vw);
}

pre {
    font-family: "Futura-Light";
}

@keyframes hide-scroll-list {
    from {
        right: -9vw;
    }
    to {
        right: calc(-9vw - 63vw);
    }
}
@keyframes hide-selected-video {
    from {
        right: 2.4vw;
    }
    to {
        right: calc(2.4vw - 63vw);
    }
}
@keyframes hide-settings {
    from {
        right: 3.3vw;
    }
    to {
        right: calc(-40vw - 2vw);
    }
}



@keyframes show-scroll-list {
    from {
        right: calc(-9vw - 63vw);
    }
    to {
        right: -9vw;
    }
}
@keyframes show-selected-video{
    from {
        right: calc(2.4vw - 63vw);
    }
    to {
        right: 2.4vw;
    }
}
@keyframes show-settings {
    from {
        right: calc(-40vw - 2vw);
    }
    to {
        right: 3.3vw;
    }
}