.video-info-view-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.search-bar {
    height: 5vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0;
    top: 30px;
    z-index: 100;
}

.search-input {
    height: 100%;
    width: 80%;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 150%;
    text-indent: 10px;
    user-select: none;
}

input:focus {
    outline: none !important;
    border: 0;
}

.search-button {
    height: 100%;
    width: 20%;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 150%;
}

.scroll-list {
    height: 100vh;
    width: 50vw;
    position: absolute;
    left: 50vw;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
}

.video-selected {
    height: calc(100vh / 7);
    width: 50vw;
    left: 50vw;
    top: calc(50vh - 100vh / 7 / 2);
    font-family: "Futura-Light";
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.video-info {
    height: 100vh;
    width: 50vw;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}